.display{
    grid-column:  span 5;
    background-color: rgba(252, 0, 0, 0.267);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1em;
    overflow: hidden;
}